:root{
    --primary-color: #D9D9D9;
    --secondary-color: #BAB5B5;
    --third-color: #989595;
    --fourth-color: #716B6B;
}



.container1{
    width: 1512px;
    height: 245.5px;
    background-color: var(--primary-color);
    text-align: center;
    display: inline-block;
}

.container2 {
    width: 1512px;
    height: 319.15px;
    background-color: var(--secondary-color);
    text-align: center;
    display: inline-block;
}

.container3 {
    width: 907.2px;
    height: 319.15px;
    background-color: var(--third-color);
    text-align: center;
    display: inline-block;
}

.container4 {
    width: 608px;
    height: 319px;
    background-color: var(--fourth-color);
    text-align: center;
    display: inline-block;

}

.container5 {
    width: 1512px;
    height: 98.1px;
    background-color: var(--primary-color);
    display: inline-block;
}
















